PORT=5000
SUPABASE_URL=https://rlslhkikehvqhfhaqvfk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsc2xoa2lrZWh2cWhmaGFxdmZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYzMjQ4MTQsImV4cCI6MjA4MTkwMDgxNH0.mv0pQ47eebkrrYkazwtUGp2_GbjBf2eZnMtBhUEM27Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsc2xoa2lrZWh2cWhmaGFxdmZrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjMyNDgxNCwiZXhwIjoyMDgxOTAwODE0fQ.XBBtH-mTjl_-vqv8VL0kbybIZFB0BbH9Gx4aHG4J81s