@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bạn có thể thêm css toàn cục ở dưới nếu muốn, ví dụ font chữ */
body {
  background-color: #f8fafc; /* Màu nền nhẹ cho toàn trang */
}
html {
  /* Mặc định trình duyệt là 16px (100%) */
  /* Thu nhỏ xuống 80% của 16px = 12.8px */
  font-size: 80%;
}

body {
  /* Đảm bảo font-size của body không bị quá nhỏ nếu bạn có viết text trực tiếp */
  font-size: 1rem;
}
